@CHARSET "UTF-8";
/*******************************************************************
	html classes
*******************************************************************/
* {
	font-family: Verdana, sans-serif;
}
body {
	margin: 0;
	min-width: 960px;
}
input[type="text"], input[type="password"] {
	font-size: 18px;
	padding: 8px;
}
label {
	cursor: pointer;
	font-size: 18px;
}
legend {
	font-size: 22px;
}
/*******************************************************************
	layout classes
*******************************************************************/
#top {
	background-color: #006F91;
	color: white;
}
#top H1 {
	font-size: 36pt;
	margin: 0 0 0 5%;
	padding: 45px 0;
}
#content {
	min-height: 500px;
}
#footer {
	background-color: #c1c1c1;
	color: white;
	font-size: 12px;
	min-height: 160px;
	text-align: center;
}    
div#login {
	background-color: gray;
	border: 2px solid black;
	margin: 150px 0 0 0;
	text-align: center;
}
div#login h1 {
	background: #c1c1c1;
	margin: 0;
	padding: 10px 0;
}
div#login input[type="submit"] {
	font-size: 20px;
}

/*******************************************************************
	form classes
*******************************************************************/
.required {
	color: red;
	font-weight: bold;
}
.error {
	color: red;
}
/*******************************************************************
	table classes
*******************************************************************/
.table {
	margin: 1em 0 1em 0;
  	border-collapse: collapse;
	width: 100%;
}
.table th {
  text-align: center;
}
.table th, .table td {
	border: 1px silver solid;
	padding: 0.2em;
}
td.centered {
	text-align: center;
}    